# LiteLLM Keys
OPENAI_API_KEY=your_opai_key
GEMINI_API_KEY=your_gemini_key
ANTHROPIC_API_KEY=your_anthropic_key

# Google TTS Key
GOOGLE_TTS_KEY=your_google_tts_key

# Anki Connect URL
ANKI_CONNECT_URL=http://localhost:8765
